body {
    background-color: rgb(250, 249, 249);
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

/*header*/
header {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Menu nav*/
nav>ul>li {
    list-style-image: url(/css/images/puce2.png);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

nav>ul>li>ul>li {
    list-style-image: url(/css/images/puce1.png);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 5px;
}

nav a {
    border-bottom: none;
    color: black;
}

/*main*/
main {
    padding-left: 20px;
    padding-right: 20px;
}

main section {
    margin-bottom: 40px;
}

/* indication de titre */

nav,
h1,
h2,
h3 {
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    size: 26px;
    background-color: #e6007e;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
}

h2 {
    color: #194887;
}

/*indication texte*/
strong {
    color: #0582a0;
}

blockquote>strong {
    color: #ce91e2;
}

p img {
    vertical-align: middle;
}

li {
    list-style-type: square;
}

abbr {
    font-style: italic;
}

/*sauf le footer*/
main p {
    text-indent: 20px;
}

/*footer*/
footer {
    background-color: rgba(41, 56, 120, 0.9);
    border-top: 3px solid #e6007e;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*------------------------------------------Formulaire------------------------------------------*/


form {
    width: max-content;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 0px 10px grey;
}

form>div,
form>fieldset {
    margin-bottom: 10px;
}

fieldset>legend {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.color2 {
    color: #e6007e;
}

label {
    color: #293878;
    font-weight: bold;
}

input[type=radio]+label,
input[type=checkbox]+label {
    color: black;
    font-weight: normal;
}

label,
input,
select,
textarea {
    vertical-align: middle;
}

.right {
    text-align: right;
}

input[type=radio]:first-of-type,
input[type=checkbox]:first-of-type {
    margin: 0px;
}

input[type=radio],
input[type=checkbox] {
    margin-left: 25px;
}

input:checked+label {
    font-weight: bold;
}

.mt-20 {
    margin-top: 20px;
}

button[type=submit],
input[type=submit] {
    margin: 0px;
    border: 0px;
    background-color: none;
}

input:invalid{
    background-color: rgba(255,0,0,0.1);
}

.boutonSimple {
    border-radius: 10px;
    background-color: #e6007e;
    color: white;
    font-size: 16px;
    padding: 10px;
}
button[type=submit]:active,
input[type=submit]:active {
    box-shadow: 5px 3px 3px rgba(0,0,0,0.5);
}
.bouttonComplexe {
    border-radius: 100%;
}
